rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function incoming() {
      return request.resource.data;
    }

    match /settings/global {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /staff/{staffId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /customers/{customerId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /transactions/{transactionId} {
      allow read: if isSignedIn();
      allow create, update: if isSignedIn();
      allow delete: if false; 
    }

    match /managers/{managerId} {
      allow read, write: if true;
    }

    // Catch-all
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
